/*logo atas*/
#logo { 
height: 90px;
margin-left: 10px;
margin-right: 10px;
}

/*logo bawah*/
#logo2 {
height: 90px;
margin-left: 10px;
margin-right: 10px;
padding-top: 20px;
align-content: center;
}

nav ul li {
list-style: none;
display: inline-block;
padding-top: 10px;
}

li:hover{
 	background:transparent;
 	background-color: black;
}

nav{
	position: fixed;
	z-index: 99;
	width: 100%;
	transition: .3s ease;
	margin: auto;
	text-align: center;
	font-weight: bold;
}

#banner {
	width: 100%;
	height: 675px;
	background: url(../img/cafe1.jpeg);
	background-size: cover;
}

.navbar{
	padding-top: 20px;
	background: transparent;
	color: black;
}

#foto_kiri{
	height: 300px;	
	padding-top: 80px;
	padding-left: 80px;
}

#foto_kanan {
	height: 400px;	
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

.container {
	padding-top: 50px;
}

.kedua {
}

.tulisan-kanan{
padding-top: 50px;

font-family: humnst;
}

.tulisan-kiri{
padding-top: 50px;
padding-right: 100px;
font-family: humnst;
}

/*#button1{
	text-align: center;
	padding-top: 30px;
	align-content: center;
	padding-left: 100px;
}*/

#atas{
	padding-top: 100px;
}

.footer {
padding-top: 10px;	

}

.buat-bawah{
	padding-top: 10px;
}

#tulisan-footer{
	color: white;
}

.tombol-1{
	width: 150px;
	height: 50px;
	border: transparent; 5px;
	border-radius: 0px;
	margin: 2px, 2px, 2px, 2px;
	color: #ffffFF;
	background-color: #FF6699;
	font: 20px bold arial black;
	transition: 0.2s;
	transition-duration: 2s;
}

.tombol-1:hover{
border-radius: 10px;
color: #fffffd;
background-color: #3366CC;
transition: 1s;
transition-duration: 2s;
border : 5px #3366CC;
}

.tombol-2{
	width: 150px;
	height: 50px;
	border: transparent; 5px;
	border-radius: 0px;
	margin: 2px, 2px, 2px, 2px;
	color: #ffffFF;
	background-color: #66FF66;
	font: 20px bold arial black;
	transition: 0.2s;
	transition-duration: 2s;
}

.tombol-2:hover{
border-radius: 10px;
color: #fffffd;
background-color: #3366CC;
transition: 1s;
transition-duration: 2s;
border : 5px #3366CC;
}

.tombol-3{
	width: 150px;
	height: 50px;
	border: transparent; 5px;
	border-radius: 0px;
	margin: 2px, 2px, 2px, 2px;
	color: #ffffFF;
	background-color: #80ced6;
	font: 20px bold arial black;
	transition: 0.2s;
	transition-duration: 2s;
}

.tombol-3:hover{
border-radius: 10px;
color: #fffffd;
background-color: #3366CC;
transition: 1s;
transition-duration: 2s;
border : 5px #3366CC;
}

.myCarousel {
	padding-bottom: 100px;
}